/* 4 External */
body{
    padding-bottom: 800px;
}

h3{
    color:green
}

/* Algum comentário */
/* Mais um comentário */
/* Terceiro comentário */

.paragraph{
    background-color: #000;
    color: aqua;
    padding: 5px;

}

/* IDS */

#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 5px;
    font-size: 40px;
}

/* ordem das regras */

h2 {
    border-bottom: 2px solid red;

}

.titulo {
    border-bottom: 3px solid blue;

}

#algum-titulo {
    border-bottom: 4px solid green;

}

.color-name{
    background-color: navy;
    color: white;
    padding: 20px;
}

/* Hex */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #1cf476;

}

/* Aprofundando em HEX */
.simple-hex{
        color: #333;
}

.simple-hex2 {
        color: #a5f;
}

/* RGB */

.rgb{
    color: rgb(255,0,0);
}

.mixed-rgb{
    color: rgb(199,21,90);
}

.rgba{
    color: rgba(150, 47, 30, 0.3);
}

/* HSL */

.hsl{
    color: hsl(100,23%, 50%);

}

.hsl2{
    color: hsl(500, 70%, 50%);
}

.hsl3{
    color: hsl(230, 50%, 70%);
}

/* Background-color */

.bg{
    background-color: #000;
    color: red;
}

.bg-2{
    background-color: rgb(400, 60, 30);
    color: #0283ff;
}

/* Opacidade no BG */

.bg-opacity{
    background-color: green;
    opacity: 0.2;
}
.bg-opacity2{
    background-color: blue;
    opacity: 0.2;
}

/* RGBA com opacidade */

.rgba-opacity{
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

/* BG Image*/

.bg-image{
    background-image: url("../img/nature.jpg");
}

/* centralizando bg image */

.not-centered-bg,
.centered-bg{

    height: 400px;
    width: 400px;
    background-image: url("../img/nature.jpg");
}

.centered-bg{
    background-position: center;
    background-size: cover;
}

/* Largura e altura */

.height-width{
    height: 100px;
    width: 100px;
    background-color: red;
}

.height-width2 {
    height: 300px;
    background-color: blue;
}

/* Padding */

.without-padding, 
.padding{
    background-color: #111;
    color: #fff;

}

.padding{
    background-color: #333;
    padding: 20px;
}

/* padding individual */

.padding-individual{
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* Shorthand padding */
.shorthand-padding{
    background-color: #444;
    padding: 6px 12px 18px 24px;
}

.shorthand-padding-2{
    background-color: #685;
    padding: 10px 20px;
}

/* Padding com width */
.without-border-box{
    background-color: #666;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

.border-box{
    background-color: #154;
    color: #fff;
    width: 200px;
    padding: 50px;
    box-sizing: border-box;
}

/* Border */
.border{
    border: 5px solid red;
    padding: 10px;
}

.border-2{
    border: 2px dotted #931;
    padding: 20px;
}

/* Borda individual */
.border-left{
    border-left: 3px solid red;
    background-color: #222;
    padding: 25px;
}

.border-bottom{
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px;
}

/* Borda arredondada */
.rounded-p{
    border: 4px solid blue;
    background-color: #000;
    padding: 15px;
    color: blue;
    border-radius: 15px;
}

.rounded-p-2{
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}

/* Margem */

.margin {
    margin: 10px;
    background-color: #222;
}

.margin-top {
    margin: 50px;
    background-color: #999;
    padding: 10px;
}

.margin-shorthand {
    background-color: #147;
    margin: 5px 10px 20px;
}

/* Box model */
.box-model{

    margin: 20px;
    padding: 15px 20px;
    border: 3px solid #452;
    border-radius: 7px;
    width: 200px;
    height: 400px;
}

/* DESAFIO 2 CSS */

#box-model-desafio{

    background-color: #000;
    color: white;
    margin: 10px;
    padding: 15px 20px;
    border: 8px solid #a5f;
    border-radius: 10px;
    width: 200px;
    height: 100px;

}

.box-model-h2{
    background-color: blueviolet;
    color: #0283ff;
    outline: 8px solid #982;
}

/* Text align */

.text-aligned {
    text-align: right;
}

.container-center{
    text-align: center;
    width: 300px;
    border: 1px solid red;
}

/* Text decoration */
.underline {
    text-decoration: underline;
}

.line-trough{
    text-decoration: line-through;
}

.remove-underline{
    text-decoration: none;
    color: red;

}

/* text transform */
.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

/* Letter spacing */
.spacing {
    letter-spacing: 5px;
}

/* Fontes */
.serif{
    font-family: Georgia;

}

.sans-serif{
    font-family: Helvetica;

}

.monospace{
    font-style: "Courier New";
}

.cursive{
    font-family: cursive;

}

.fantasy{
    font-family: fantasy;

}

/* Text style */

.italico{
    font-style: italic;
}

.oblique{
    font-style: oblique;
}

/* Font weight */

.thin, 
.bold, 
.bolder {
    font-family: helvetica;
}

.thin {
    font-weight: 100;
}

.bold{
    font-family: 600;
}

.bolder{
    font-family: 900;
}

/* Font size */

.small{
    font-size: 8px;
}

.big{
    font-size: 78px;
}

/* Display */

.inline-box{
    width: 50px;
    height: 50px;   
    background-color: #4f8;
    margin: 10px;
    display: inline-block;
}

.block{
    background-color: #333;
    display: block;
    margin: 10px;
}

/* Escondendo */

.invisible{
    display: none;
}

/* Static */

.static{
    position: static;
    background-color: #391;
    color: #fff;
    width: 100px;
    height:  100px;
}

/* Relative */
.relative{
    position: relative;
    background-color: #719;
    color: #fff;
    width: 100px;
    height:  100px;
    top: 100px;
    left: 40px;
}

/* Absolute */
